button,h1,.aiUitat,.inregistrare,label,.am{color: white;}

.label-completeaza{font-size: 1.56em;}
body{background-color: #020024;}
.centerLogin{margin-top: 1.25rem;}
a{text-decoration: none;
color: grey;}
form{text-align: center;}

.container{
    margin-top: 1.7rem;
    width: 100%;}

h1{
    margin: 1rem 0 0.5rem 0;
    font-size: 1.8em;
    text-align: center;
}

.am-citit-label{
    font-size: 1.4em;
}

.input-am{
    height: 1.1rem;
    width: 1.1rem;
    margin-right: 0.4rem;
}

.input1{
    font-size: 1.3em;
    border: 1px solid grey;
    padding: 0 0 0 12px;
    background-color: whitesmoke;
    border-radius: 40px;
    margin-top: 5px;
    height: 35px;
    width: 70%;
}

button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    border: none;
    margin-top: 0.3rem;
    width: 70%;
    height: 2.5rem;
    border-radius: 1.8rem;
    background-color: #082B2B;
}

.logo{
    width: 11.5rem;
    height: 9.5rem;
}

.centerImgAu{
    display: flex;
    justify-content: center;
}

.creaza{
    font-size: 1.3em;
    color: grey;
}