button,h1,.aiUitat,.inregistrare,label,.am{color: white;}

body{
    background-color: #020024;
}

h1{
    margin: 0;
    font-size: 1.8em;
    text-align: center;
    padding: 1.25rem 0; 
}

form{
    text-align: center;
}

.input1{
    font-size: 1.3em;
    border: 1px solid grey;
    padding: 0 0 0 12px;
    background-color: whitesmoke;
    border-radius: 40px;
    margin-top: 5px;
    height: 35px;
    width: 70%;
}

.centerLogin{
    margin-top: 20px;
}

button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    border: none;
    margin-top: 0.3rem;
    width: 70%;
    height: 2.5rem;
    border-radius: 1.8rem;
    background-color: #082B2B;
    
}

.logo{
    width: 11.5rem;
    height: 9.5rem;
}

.centerImgAu{
    display: flex;
    justify-content: center;
}

label{
    font-size: 1.56em;
}


.centerlogin2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top{
    margin-top: 1rem;
}

a{
    text-decoration: none;
}

.am{
    margin-bottom: 0;
    margin-right: 10px;
    font-size: 16px;
}

.creaza{
    font-size: 1.3em;
    color: grey;
}