*{box-sizing: border-box;}


body{
    margin: 0;
    background-color: black;
}

.displayFlex{
    display: flex;
    justify-content: space-between;
}

header{
    background-color: #020024;
    width: 100%;
    height: 4.5rem;
}

.logo-img{
    margin: 0.2rem 0 0 0.5rem;
    display: block;
    width: 5rem;
    height: 4rem;
}

.contulmeu-img,
.adauga-img{
    width: 3rem;
    height: 3rem;
    
}

.align-center{
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}

.backgroundCategoriiPrincipale{
    width: 100%;
    background-color: #020024;    
    margin-top: 0.5rem;
}

.backgroundCategoriiPrincipale h2{
    text-align: center;
    margin: 0;
}

.vinzi{
    padding: 0.5rem 0;
    color: white;    
}

.rapid{
    color: #eee853;
    padding-bottom: 1rem;
}

.container{
    display: flex;
    justify-content: center;
}

.emaisimplusacauti{
    width: 10rem;
    height: 2.3rem;
}