.displayFlex{
    display: flex;
    justify-content: space-between;
}

body{
    margin: 0;
}

header{
    background-color: #020024;
    width: 100%;
}

.logo-img{
    display: block;
}

.contulmeu-img,
.logo-img,
.adauga-img{
    width: 5rem;
    height: 5rem;
    
}