*{box-sizing: border-box;}

a{
    text-decoration: none;
}

body{
    margin: 0;
    background-color: black;
}

.displayFlex{
    display: flex;
    justify-content: space-between;
}

header{
    background-color: #020024;
    width: 100%;
    height: 7.5rem;
}

.logo-img{
    margin: 0.2rem 0 0 1.4rem;
    display: block;
    width: 5rem;
    height: 4rem;
}

.df2{
    display: flex;
    flex-direction: column;
}

.df3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.df4{
    display: flex;
    flex-direction: row;
}

.top{
    
    margin: 1.1rem 0 0.8rem 0;
}

.df5{
    margin-right: 1.5rem;
}

.img-cm,
.img-add{
    width: 2.2rem;
    margin-right: 0.5rem;
}

.cm,
.aa{
    padding-top: 0.5rem;
}

p{
    margin: 0;
}

.vinzi{
    color: white;   
    margin-left: 0.3rem; 
}

.rapid{
    margin-left: 0.5rem;
}

.rapid,
.cm,
.aa{
    color: #eee853;    
}

/* aici header end */

.backgroundCategoriiPrincipale,
.backgroundCategoriiPrincipale2{
    width: 100%;
    height: 8rem;
    background-color: #020024;    
    margin-top: 0.5rem;
}

.backgroundCategoriiPrincipale2{
    height: 20rem;
}

.container-cautare{
    display: flex;
    justify-content: center;
    height: 2.5rem;
    width: 100%;
}

.emaisimplusacautih2{
    color: white;
    text-align: center;
    margin: 0 0 1.4rem 0;
    padding-top: 1.4rem;
}

.btn-cauta{
    background-color: #eee853;
    font-size: 0.9em;
}

.emaisimplusacautiinput{
    padding-left: 0.3rem;
    font-size: 1em;
    width: 10.5rem;
}

.toataRomania{
    font-size: 1em;
}

.categoriiContainer{
    margin: 0 1rem 1rem 1rem;
    display: flex;
    justify-content: space-evenly;
}

.categorie{
    text-align: center;
    width: 6.5rem;
}

.img-categorie{
    width: 4rem;
    height: 4rem;
    display: block;
    margin: 0 auto;
   
}

.p-categorie{
    margin-top: 0.5rem;
    color: white;
}

.auto-img{
    width: 5rem;
    height: 4rem;
}

.imob-img{
    margin-top: 0.5rem;
    width: 3.6em;
}

.imob-p{
    margin-top: 1rem;
}

.elec-img{
    margin-top: 0.5rem;
    height: 3.5rem;
    width: 2.4rem;
}

.casa-img{ width: 5rem;}
.mama-img{
    width: 2.5rem;
    height: 4rem;
}

.moda-img{
    width: 3.5rem;
}