

body{
    background-color: #082B2B;
}



.divForm{
    margin: 22px auto;
    height:615px;
    width: 330px;
    background-color: white;
}

h1{
    margin: 0;
    text-align: center;
    padding-top: 20px;
    color: #082B2B;
}

form{
    text-align: center;
}

input{
    font-size: 1.3em;
    border: 1px solid grey;
    padding: 0 0 0 12px;
    background-color: whitesmoke;
    border-radius: 40px;
    margin-top: 5px;
    height: 35px;
    width: 70%;
}


.autentificare{
    width: 70%;
    border-radius: 30px;
    height: 40px;
    color: white;
    background-color: #082B2B;
}


.centerLogin{
    margin-top: 20px;
}

.aiUitat{
    font-size: 1.3em;
}

button{
    font-size: 1.2em;
    
}

.imgAu{
    margin: 0;
    height: 200px;
    width: 200px;
}

.centerImgAu{
    display: flex;
    justify-content: center;
}

label{
    font-size: 25px;
}

.creaza{
    font-size: 1.3em;
    color: grey;
}

.inregistrare{
    color: #082B2B;
}

a{
    text-decoration: none;
}