body{
    margin: 0;
}


/* Header Start */

header{
    background-color: #020024;
    margin: 0;
    height: 150px;
}
 

.logo{
    margin-left: 40px;
    width: 120px;
    height: 80px;
}
header p{
font-size: 22px;
}

.rapid{
    margin-top: 0px;
    margin-left: 17px;
    color: #eee853;
    cursor: pointer;
}


.vinzi{
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
    color: #fff;
}

.cont{
    color: #EEE853;
    margin-top: -95px;
    font-size: 1.5em;
}

.adauga{
    font-size: 1.5em;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -95px;
    color: #EEE853;
    
}

.container{
    display: flex;
    justify-content: end;
}

a{
    text-decoration: none;
    color: #EEE853;
}


/* Imagine anunt si vanzator start */



.imgAnunt{
    width: 500px;
    height: 500px;
}

.containerVanzator{
    height: 500px;
    width: 250px;
    border: 1px solid;
}

.containerImgSiVanzator{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}