body{
    margin: 0;
    background-color: whitesmoke;
}


/* Header Start */

header{
    background-color: #020024;
    margin: 0;
    height: 150px;
}
 

.logo{
    margin-left: 40px;
    width: 120px;
    height: 80px;
}
header p{
font-size: 22px;
}

.rapid{
    margin-top: 0px;
    margin-left: 17px;
    color: #eee853;
    cursor: pointer;
}


.vinzi{
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
    color: #fff;
}

.cont{
    color: #EEE853;
    margin-top: -95px;
    font-size: 1.5em;
}

.adauga{
    font-size: 1.5em;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -95px;
    color: #EEE853;
    
}

.container{
    display: flex;
    justify-content: end;
}

a{
    text-decoration: none;
    color: #EEE853;
}


/* Imagine anunt si vanzator start */




.containerImg{
    margin-top: 50px;
    
}

.displayFlexJustifyCenter{
    display: flex;
    justify-content: center;
}

.locatie,.pret,.stare,.timp,.numeAnunt{
    text-align: start;
    color: antiquewhite;
}

.garantie, .livrare, .firmaSauPersoanaFizica, .culori{
    text-align: end;
    color: antiquewhite;
    font-size: 32px;
    
}

.inStoc{
    color:antiquewhite;
    font-size: 32px;
    margin: -10px 0 0 20px;
    padding-bottom: 20px;
}

.firmaSauPersoanaFizica{
    margin: 0 20px 0 0;
}

.garantie,.livrare{
    margin: 10px 20px 0 0px;
    
}

.culori{
    margin: 10px 20px 0 0px;
}


.locatie{
    margin: 10px 0 0 20px;
    font-size: 32px;
}

.timp{
    font-size: 32px;
    margin: 10px 0 0 20px;
    padding-bottom: 20px;
}

.pret{
    padding-bottom: 20px;
    text-align: center;
    margin: 15px 0 0 0;
    font-weight: bold;
    font-size: 2em;
}


.stare{
    margin: 0 0 0 20px;
    font-size: 32px;
}



.divAnunturi{
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.anunt{
    
    margin-top: 50px;
    background-color:#020024 ;
    width: 850px;
    display: flex;
    flex-direction: column;
    position: relative;
}



.imgAnunt{
    width: 850px;
    height: 520px;
}

.numeAnunt{
    font-weight: bold;
    text-align: center;
    font-size:2em;
    margin: 15px 0px 60px 0;
    padding: 0px 10px 0px 20px;
    font-weight: bold;
}


.descriere{
    font-weight: bold;
    text-align: start;
    color: rgb(0, 47, 52);
    font-size:2em;
    margin: 30px 0px 30px 20px;
}


.textDinDescriere{
    text-align: start;
    padding: 0px 80px 0px 20px;
    margin-top: 10px;
    font-size: 32px;
    color: rgb(0, 47, 52);
    line-height: 40px;

}

.descriereDiv{
    background-color: white;
}

.specificatii{
    display: flex;
    justify-content: space-between;
}

.vanzatorDiv{
    background-color:#020024;
}

.imgVanzatorDiv{
    padding-bottom: 20px;
}

.imgVanzator{
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
    height: 150px;
    width: 150px;
    
}

.despreVanzator{
    text-align: center;
    font-weight: bold;
    color: antiquewhite;
    font-size:2em;
    margin: 30px 0px 30px 20px;
}