* {
    box-sizing: border-box;
}

body {
    background-color: black;
}
  
header {
    background-color: #020024;
    height: 150px;
}
  
.logo {
    margin: 5px 0 0 7px;
    width: 120px;
    height: 80px;
    
}
  
.vinzi,
.rapid,
body,
header {
    margin: 0;
}
  
.vinzi {
    color: #fff;
    margin-left: 2px;
}
  
.rapid {
    margin-left: 6px;
    color: #eee853;
}
  
.container{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.align-right{
    display: flex;
    border: 1px solid red;
}

a{
    color: #EEE853;
    font-size: 1.5em;
    text-decoration: none;
}