body{
    margin: 0;
    padding: 0;
}

/* 1 start Header fiu al luminii.ro */

.headerDiv1 {
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 100px;
}

.headerH1{
    text-align: center;
    padding-top: 20px;
    margin: 0;
    font-size: 2.5em;
    color: burlywood;
}

.headerA1{
    text-decoration: none;
    color:burlywood ;
}

/* 1 end Header fiu al luminii.ro  */

/* 2 start Header Biblia, credinta, Isus Hristos - Toate explicate */
.headerH2 {
    text-align: center;
    color: cadetblue;
}   

/* 2 end Header Biblia, credinta, Isus Hristos - Toate explicate*/